@import url("./root.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
  font-family: "graphic";
}

/********************************************* business code **************************************** */

.business_inspiration {
  padding-top: 76px;
  padding-bottom: 160px;
}

.nav-pills .nav-link {
  padding: 12px 32px;
  color: var(--light-black);
}

.nav-pills .nav-link.active {
  border: 1px solid var( --violet-color) !important;
  background: transparent !important;
  color: var( --violet-color) !important;
  border-radius: 57px !important;
}

.nav-pills .nav-link:hover {
  box-shadow: 0px 0px 5px;
  border-radius: 57px;
}

.tab-content {
  margin-top: 8px;
}

.nav_parent {
  max-width: 904px;
}

.nav {
  padding: 10px !important;
}

.nav_parent::-webkit-scrollbar {
  display: none;
}

.common_inspire_svg {
  border-radius: 50%;
  box-shadow: 0px 4px 24px 0px #a6a6a659;
}

.tabs_parent {
  gap: 18px;
}

.card_box {
  box-shadow: 0px 5px 29.5px -10px #00000026;
  border-radius: 16px;
}

.card_txt {
  padding: 12px 17px;
}

.inspiration_card {
  margin-top: 24px !important;
}

.prev_svg,.next_svg{
  transition: all 200ms linear;
  cursor: pointer;
}

.prev_svg:hover,.next_svg:hover{
  transform: scale(0.9);
}

@media (min-width: 1200px) {
  .inspiration_card {
    padding: 0px 12px;
    width: 20% !important;
  }
}

@media (min-width: 992px) {
  .common_card {
    margin-top: 24px !important;
  }
  .business_inspiration {
    padding: 0 40px;
  }
}

@media (max-width: 1199.99px) {
  .fifth_card {
    margin-top: 24px !important;
  }
}

@media (max-width: 991.99px) {
  .business_inspiration {
    padding: 0 24px;
  }
}

@media (max-width: 767.99px) {
  .common_card {
    margin-top: 24px !important;
  }
}

@media (max-width: 575.99px) {
  .business_inspiration {
    padding: 0 16px;
  }
  .tabs_parent {
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .inspiration_card {
    padding: 0 8px !important;
    margin-top: 16px !important;
  }
}
